*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
tags
*.swp

# YARD artifacts
.yardoc
_yardoc
doc/

*.lock
db/*.sqlite3
log/*.log
.DS_Store

*.yml
